* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

body {
  background-color: rgb(173, 216, 230)
}

/* header */

.title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  margin: 20px 0;
  color: white;
}

/* main */

.container {
  width: 70%;
  margin-left: 15%;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.col-100{
  width: 100%
}

/* cards quality */

.col {
  float: left;
}

.card {
  width: 17.5%;
  height: 200px;
  background-color: white;
  margin:1.75% 3.5%;
  border-radius: 15px;
  background-image: url(../img/pattern.png);
  background-size: contain;
  position: relative;
}

.card [class^="text-"] {
  visibility: hidden;
}

.card:hover [class^="text-"]{
  visibility: visible;
}

.card-1:hover {
  background-image: url(../img/air_balloon.png);
  background-repeat: no-repeat;
}

.card-2:hover {
  background-image: url(../img/bicycle.png);
  background-repeat: no-repeat;
}

.card-3:hover{
  background-image: url(../img/cruise_ship.png);
  background-repeat: no-repeat;
}

.card-4:hover {
  background-image: url(../img/submarine.png);
  background-repeat: no-repeat;
}

.card-5:hover {
  background-image: url(../img/tractor.png);
  background-repeat: no-repeat;
}

.card-6 {
  background-image: url(../img/air_balloon.png);
  background-repeat: no-repeat;
}

.card-7:hover {
  background-image: url(../img/tram.png);
  background-repeat: no-repeat;
}

/* card text */

[class^="text-"]{
  position: absolute;
  bottom: 5px;
  left: 25%;
  font-weight: bold;
  font-size: 20px;
}

.always-visible {
  color: rgb(231, 36, 139);
  position: absolute;
  bottom: 5px;
  left: 25%;
  font-weight: bold;
  font-size: 20px;
}

.text-balloon {
  color: rgb(231, 36, 139);
}

.text-bicycle {
  color: rgb(0, 0, 0);
}

.text-ship{
  color: red;
}

.text-submarine {
  color: purple;
}

.text-tractor{
  color: orange;
}

.text-tram {
  color: cyan;
}

footer {
  text-align: center;
  margin-top: 20px;
}
