* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

body {
  background-color: rgb(173, 216, 230)
}

/* header */

.title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  margin: 20px 0;
  color: white;
}

/* main */

.container {
  width: 70%;
  margin-left: 15%;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.col-100{
  width: 100%
}

/* cards quality */

.col {
  float: left;
}

.card {
  width: 17.5%;
  height: 200px;
  background-color: white;
  margin:1.75% 3.5%;
  border-radius: 15px;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.card-6 {
  background-image: url(../img/air_balloon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

/* card text */

#card-text-balloon {
  color: rgb(231, 36, 139);
  position: absolute;
  bottom: 5px;
  left: 25%;
  font-weight: bold;
  font-size: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
}
